<template>

    <p>LWC Financial Aid Component</p>
    <p>Financial Aid Status: {appliedForFinancialAidStatus}</p>
    <template if:false={appliedForFinancialAid}>
        <lightning-button variant="brand-outline" label="Apply for financial aid" 
                                                onclick={handleApplyForAid}></lightning-button>
    </template>
</template>