<template>
    <li  tabindex="-1"  class="slds-border_top slds-p-vertical_small">
        <div  class="slds-grid">
            <div class="slds-m-right_medium slds-size_1-of-8 slds-align-middle">
            <figure class="slds-shrink-none" >
                <a b data-productid={product} tabindex="-1" href={producturl} >
                    <img src={imglist} alt="" >
                </a>
            </figure>
        </div>
            <div  class="slds-grid slds-grid_vertical slds-no-space slds-grow item-details ">
                <h3 >
                    <a data-productid={product} href={producturl}>{name}
                    </a>
                </h3>
                <div class="line-item-properties slds-grid slds-p-top_small">
                     <div class="fields-details slds-p-right_small slds-size_1-of-1">
                         <ul class="slds-text-body_small">
                             <li class="slds-p-bottom_xxx-small slds-grid slds-wrap ">
                                 <span title="Product Sku" class="slds-grid slds-no-space slds-shrink-none slds-truncate_container_75">
                                     <span aria-hidden="true" class="slds-truncate">Product Sku: {sku}</span>
                                    </span>
                                    
                                </li>
                                <li class="slds-p-bottom_xxx-small slds-grid slds-wrap">
                                    <span title="Product Code" class="slds-grid slds-no-space slds-shrink-none slds-truncate_container_75">
                                        <span aria-hidden="true" class="slds-truncate">Product Code: {productCode}</span>
                                    </span>
                                   
                                </li>
                                <li class="slds-p-bottom_xxx-small slds-grid slds-wrap">
                                    <span title="Quantity" class="slds-grid slds-no-space slds-shrink-none slds-truncate_container_75">
                                        <span aria-hidden="true" class="slds-truncate">Quantity: {quantity}</span>
                                    </span>
                                   
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    
</template>