<template>
    <div if:false={isbundleEmpty} class="slds-box slds-box_x-small slds-text-align_center slds-m-around_x-small">

        <h1  class="slds-text-heading_medium slds-text-align_left">{compHeader}</h1>
        <lightning-layout-item class="slds-p-around_small slds-size_12-of-12">
            <slot>
                <lightning-layout class="slds-grid" interop-layout_layout-host=""><!--<slot interop-layout_layout="" class="slds-slot">-->
                    <lightning-layout-item class="slds-p-around_small slds-size_4-of-12">
                        <slot><div class="page-section page-main slds-text-align_left"></div></slot></lightning-layout-item>
                    <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                        <slot><div class="page-section page-main slds-text-align_left">Name</div></slot></lightning-layout-item>
                    <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                        <slot><div class="page-section page-main slds-text-align_left">SKU</div></slot></lightning-layout-item>
                    <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                        <slot><div class="page-section page-main slds-text-align_left">Quantity</div></slot></lightning-layout-item>
                        <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                            <slot><div class="page-section page-main slds-text-align_left">Unit Price</div></slot></lightning-layout-item>
                </lightning-layout>
            </slot>
        </lightning-layout-item>
        <div class="slds-var-m-around_medium">
            <template if:true={productBundles}>
            <template for:each={productBundles} for:item="productBundle">

                   <c-cart-product-bundle-item child-product-id={productBundle.lb2bt__Bundle_Item__c} key={productBundle.Id}
                    quantity={productBundle.lb2bt__Quantity__c}
                    resolved-effective-account-id={effectiveAcc}
                    ></c-cart-product-bundle-item>
                
            </template>
            </template>
            <template if:true={error}>
                <p>{error}</p> 
            </template>
        </div>
    </div>

   
</template>