<template>
    <!-- lightning data service code -->
  <!-- <lightning-record-edit-form> using boatReviewObject -->
    <lightning-record-edit-form object-api-name={boatReviewObject} 
                                onsuccess={handleSuccess}
                                onsubmit={handleSubmit}>
        <lightning-messages></lightning-messages>
        <lightning-layout multiple-rows vertical-align="start">
            
            <lightning-layout-item size="8" padding="horizontal-small">
            <div class="slds-form-element">
                <!-- review subject field code using nameField -->
                <lightning-input-field field-name={nameField}>
                </lightning-input-field>
            </div>
            </lightning-layout-item>

            <lightning-layout-item size="4" padding="horizontal-small">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="record-name">Rating</label>
                <div class="slds-form-element__control">
                   
                <c-five-star-rating onratingchange={handleRatingChanged}></c-five-star-rating>
                </div>
            </div>
            </lightning-layout-item>
            
            <lightning-layout-item padding="horizontal-small">
                <!-- review comment field code using commentField -->
                <lightning-input-field field-name={commentField}>
                    
                </lightning-input-field>
            </lightning-layout-item>
        
        </lightning-layout>
        <div class="slds-align_absolute-center" style="margin-top: 5px">
                <!-- add submit button -->
            <lightning-button type="submit" name="save" label="Submit"
                            icon-name="utility:save">
            </lightning-button>
        </div>
    </lightning-record-edit-form>
    <!-- </lightning-record-edit-form> -->
</template>