<template>
    <template if:true={hasProducts}>
      <div
        class="slds-box slds-box_x-small slds-text-align_center slds-m-around_x-small"
      >
        <h1 class="slds-text-heading_medium slds-text-align_left">
          Related Products
        </h1>
        <template for:each={CSModifiedProducts} for:item="Product">
          <lightning-layout key={Product.id} multiple-rows="true">
            <lightning-layout-item padding="around-small" size="12">
              <lightning-layout>
                <lightning-layout-item padding="around-small" size="4">
                  <figure class="slds-image slds-image--card">
                    <a href={Product.fullUrl} class="slds-image__crop--4-by-3">
                      <img
                        src={Product.defaultImage.url}
                        style="max-width: 50%; max-height: 300px;"
                        alt="Description of the image"
                      />
                    </a>
                  </figure>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small" size="8">
                  <div class="page-section page-main slds-text-align_left">
                    {Product.fields.Family}
                    <br/>
                    <h1 class="slds-text-heading_medium">
                      {Product.fields.Name}
                    </h1>
                    <lightning-formatted-number
                      currency-code={Product.currency}
                      format-style="currency"
                      value={Product.unitPrice}
                    >
                    </lightning-formatted-number>
                    <br />
                    SKU # {Product.fields.StockKeepingUnit}
                    <br />
                    UPC Code : {Product.fields.ProductCode}
                    <br/>
                    External Id : {Product.fields.ExternalId__c}  <!-- editied here-->
                    <br/>
                    Display URL	: {Product.fields.DisplayUrl}    <!-- editied here-->
                    <br/>
                    Product Class	: {Product.fields.ProductClass}    <!-- editied here-->
                    <br/>
                    ---------------------------------------------------------------------------
                    <br/>
                    Product Description :	{Product.fields.Description}    <!-- editied here-->
                    <br/>
                    ---------------------------------------------------------------------------
                    <br/>
                    Product Type : {Product.fields.Type}    <!-- editied here-->
                    <br/>
                    Promotion :	{Product.fields.Promotion__c}    <!-- editied here-->
                    <br/>
                    Promotion Text :	{Product.fields.Promotion_Text__c}    <!-- editied here-->
                    <br/>
                   <!-- {Product.fields.Description}-->
                    <div>
                      <span style="color:rgb(13, 146, 199)">{Product.fields.Promotion_Text__c}</span>
                    </div>
                    <div if:true={inStock}>
                      <span style="color: green;">Available</span>
                    </div>
                    <div if:false={inStock} >
                      <span style="color: red;">Out of stock</span>
                    </div>
                   
                    <div
                      class="quantity-selector slds-grid slds-grid_vertical-align-center"
                    >
                      <label
                        for="quantity-230"
                        class="selector-label slds-m-right_x-small"
                        >Qty</label
                      >
                     <!--<input
                      aria-describedby="input-error-message-230"
                      id={Product.id}
                      onchange={handleQTYChange}
                      max="100000"
                      min="1"
                      type="number"
                      required=""
                      class="selector-input slds-p-horizontal_medium slds-p-vertical_x-small"
                    />&nbsp;&nbsp; -->
<!-- 89 to 116-->
                      <!--<lightning-layout-item size="0.5">-->
                        <div class="demo-only" style="padding:0.5rem;background:#ffffff">
                          <lightning-layout-item size="0.5"><!---->
                            <div class="slds-button-group" role="group">
                           
                         <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                         icon-name="utility:dash" onclick={handleSub}></lightning-icon>&nbsp;&nbsp;
                        
                      <lightning-input class="slds-input-has-icon"
                             type="number"
                             name="quantity"
                             id={Product.id}
                             value={_quantityFieldValue}
                             min="1"
                             max="9999"
                             step="1"
                             message-when-step-mismatch="Enter a whole number."
                             oncommit={handleQuantityChange}
                         >
                        </lightning-input>&nbsp;&nbsp;

                      <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default"
                         icon-name="utility:add" onclick={handleAdd}></lightning-icon>&nbsp;&nbsp;
 
                        
                     </div></lightning-layout-item> <!----></div>&nbsp;&nbsp;
                     <!--</lightning-layout-item>-->
                     <!--
                     <div class="slds-form-element">
                      <label class="slds-form-element__label slds-m-right_none" for="quantity-230">Counter Label</label>
                      <div class="slds-form-element__control">
                      <button class="slds-button slds-button_icon slds-button_icon-small slds-input__button_decrement" title="Decrement counter">
                      <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                      icon-name="utility:dash" onclick={handleSub}></lightning-icon>&nbsp;&nbsp;
                      </button>
                      <lightning-input class="slds-input-has-icon"
                             type="number"
                             name="quantity"
                             id={Product.id}
                             value={_quantityFieldValue}
                             min="1"
                             max="9999"
                             step="1"
                             message-when-step-mismatch="Enter a whole number."
                             oncommit={handleQuantityChange}
                         >
                        </lightning-input>&nbsp;&nbsp;
                      <button class="slds-button slds-button_icon slds-button_icon-small slds-input__button_increment" title="Increment counter">
                      <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default"
                         icon-name="utility:add" onclick={handleAdd}></lightning-icon>&nbsp;&nbsp;
                      </button>
                      </div>
                      </div>
                      -->
                      &nbsp;&nbsp;&nbsp;&nbsp;
<!-- 89 to 116-->                      
  
                      <lightning-button
                        label="Add to Cart"
                        id={Product.id}
                        onclick={addProductToCart}
                      >
                    </lightning-button>&nbsp;&nbsp;
                  <!--  <button
                    class="slds-button slds-button_brand"
                    style="border-radius: 0px;"
                    onclick={handleClick} data-value={Product.fullUrl}
                  >
                    More Information
                  </button>-->
                    </div>
  
                  <!--162--> <div onclick={handleClick} data-value={Product.fullUrl}>
                      <button
                        class="slds-button slds-button_brand"
                        style="border-radius: 0px;"
                      >
                        More Information
                      </button>
                    </div><!--169--> 
                    <br />
                    <br />
                    <br />
                  </div>
                </lightning-layout-item>
              </lightning-layout>
            </lightning-layout-item>
            <!--
            <lightning-layout-item
              flexibility="auto"
              padding="around-small"
              size="12"
            >
              <div class="page-footer page-section">
                <h2>Footer</h2>
              </div>
            </lightning-layout-item>
            -->
          </lightning-layout>
        </template>
      </div>
    </template>
  </template>