<template>
    
    <lightning-layout-item class="slds-p-around_small slds-size_12-of-12" >
        <slot>
            <lightning-layout class="slds-grid" interop-layout_layout-host=""><!--<slot interop-layout_layout="" class="slds-slot">-->
                <lightning-layout-item class="slds-p-around_small slds-size_4-of-12">
                    <slot><div class="page-section page-main slds-text-align_left"></div>
                       <!-- <img
                        src={image}
                        alt={altText}>   -->
                       
                        <figure class="slds-image slds-image--card">
                            <a href={image} class="slds-image__crop--4-by-3" 
                            tabindex="-1">
                                <img src={image} alt={altText} style="max-height: 100px;"></a></figure>
                    </slot></lightning-layout-item>
                <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                    <slot><div class="page-section page-main slds-text-align_left"> 
                        <h3 class="slds-text-heading_small">
                        <a href={productUrl}
                            data-productid={childProductId}
                            onclick={handleProductDetailNavigation}
                            tabindex="0"> {name} </a></h3></div></slot></lightning-layout-item>
                <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                    <slot><div class="page-section page-main slds-text-align_left">{sku}</div></slot></lightning-layout-item>
                <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                    <slot><div class="page-section page-main slds-text-align_left">{quantity}</div></slot></lightning-layout-item>
                    <lightning-layout-item class="slds-p-around_small slds-size_2-of-12">
                        <slot><div class="page-section page-main slds-text-align_left"> 
                            <lightning-formatted-number
                            currency-code={currency}
                            format-style="currency"
                            value={price}
                        >
                        </lightning-formatted-number></div></slot></lightning-layout-item>
            </lightning-layout>
        </slot>
    </lightning-layout-item>

    <template if:true={error}>
        <p>{error}</p> 
    </template>
    
</template>