<template>
    <div class="qtydiv">
        <label for="Quantity" class="quantity-selector">Quantity</label>
        <div class="qtybox">
          <span class="btnqty qtyminus icon icon-minus">-</span>
          <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly="">
          <span class="btnqty qtyplus icon icon-plus">+</span>
        </div>
      </div>
</template>