<template>
    <template for:each={recentProduct} for:item="product">
        <li
            key={product.Id}
            class="slds-p-vertical_medium"
        >
            {product.Name}  
            </li>
            </template>
</template>