<template>
    <lightning-card title="Total Amount">
        <div class="slds-p-horizontal_small">
        
            <lightning-record-form object-api-name="WebCart" record-id={strRecordId}
            columns="2" mode="read" fields={arrayFields}></lightning-record-form>
        </div>
    </lightning-card>
</template>