<!--<template>
    <lightning-card title="Contact Form Read Only 1">
      <div class="slds-p-horizontal_small">
        <lightning-layout multiple-rows>
          <template for:each={contactFields} for:item="contactField">
            <lightning-layout-item size="12" key={contactField.key}>
              <lightning-input
                label={contactField.label}
                value={contactField.value}
                read-only
              ></lightning-input>
            </lightning-layout-item>
          </template>
        </lightning-layout>
      </div>
    </lightning-card>
  </template>-->
  <template>
    <lightning-record-edit-form record-id={recordId} object-api-name="Contact"
            onsuccess={handleSuccess} onsubmit ={handleSubmit}>
        <lightning-messages>
        </lightning-messages>
        <lightning-output-field field-name="AccountId">
        </lightning-output-field>
        <lightning-input-field field-name="FirstName">
        </lightning-input-field>
        <lightning-input-field field-name="LastName">
        </lightning-input-field>
        <lightning-input-field field-name="Email">
        </lightning-input-field>
        <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="update" label="Update">
        </lightning-button>
    </lightning-record-edit-form>
</template>