<template>
    <li  tabindex="-1"  class="slds-border_bottom slds-p-vertical_small">
        <div  class="slds-grid">
            <div class="slds-m-right_medium slds-size_1-of-8 slds-align-middle">
            <figure class="slds-shrink-none" >
                <a b data-productid={product} tabindex="-1" href={producturl} >
                    <img src={imglist} alt="" >
                </a>
            </figure>
        </div>
            <div  class="slds-grid slds-grid_vertical slds-no-space slds-grow item-details ">
                <h3>
                    <a data-productid={product} href={producturl}>{name}
                    </a>
                </h3>
                <div class="line-item-properties slds-grid slds-p-top_small">
                     <div class="fields-details slds-p-right_small slds-size_1-of-1">
                         <ul class="slds-text-body_small">
                             <li class="slds-p-bottom_xxx-small slds-grid slds-wrap ">
                                 <span title="Product Sku" class="slds-grid slds-no-space slds-shrink-none slds-truncate_container_75">
                                     <span aria-hidden="true" class="slds-truncate">Product Sku:&nbsp;{sku}</span>
                                    </span>
                                    
                                </li>
                                <li class="slds-p-bottom_xxx-small slds-grid slds-wrap">
                                    <span title="Product Code" class="slds-grid slds-no-space slds-shrink-none slds-truncate_container_75">
                                        <span aria-hidden="true" class="slds-truncate">Product Code:&nbsp;{productCode}</span>
                                    </span>
                                   
                                </li>
                                <li class="slds-p-bottom_xxx-small slds-grid slds-wrap">
                                    <span title="Quantity" class="slds-grid slds-no-space slds-shrink-none slds-truncate_container_75">
                                        <span aria-hidden="true" class="slds-truncate">Quantity:&nbsp;{quantity}</span>
                                    </span>
                                   
                                </li>
                                
                                <li class="slds-p-bottom_xxx-small slds-grid slds-wrap">
                                    <span title="Total with Tax" class="slds-grid slds-no-space slds-shrink-none slds-truncate_container_75">
                                        <span aria-hidden="true" class="slds-truncate">Total with Tax:&nbsp;
                                        <lightning-formatted-number
                                            currency-code={currency}
                                            format-style="currency"
                                            value={amt}></lightning-formatted-number>
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
            <div if:false={isbundleEmpty} class="slds-m-around_x-small" >
                <lightning-accordion  class="slds-accordion"  
                active-section-name={accordianSection} allow-multiple-sections-open >
                    <lightning-accordion-section  name='A' class="slds-accordion__summary-content slds-accordion__list-item slds-is-open" role="listitem" label={compHeader}>
               <!-- <h3 class="slds-text-align_left">{compHeader}</h3>-->
               
                <div class="slds-var-m-around_medium">
                    <template if:true={productBundles}>
                    <template for:each={productBundles} for:item="productBundle">
        
                           <c-order-summary-bundle-item child-product-id={productBundle.lb2bt__Bundle_Item__c} key={productBundle.Id}
                            quantity={productBundle.lb2bt__Quantity__c}
                            resolved-effective-account-id={effectiveaccountid}
                            ></c-order-summary-bundle-item>
                        
                    </template>
                    </template>
                    <template if:true={error}>
                        <p>{error}</p> 
                    </template>
                </div>
                    </lightning-accordion-section>
                </lightning-accordion>
            </div>
        </li>
   
    
</template>