<template>


       <lightning-accordion  class="slds-accordion" active-section-name={accordianSection} allow-multiple-sections-open>
        <lightning-accordion-section name="A" class="slds-accordion__summary-content slds-accordion__list-item" role="listitem" label={shippingAdd}>
            <span></span>
            <div class="field-properties slds-grid slds-wrap slds-border_bottom slds-p-bottom_x-small slds-p-left_large slds-size_3-of-3">
            <div class="field-item slds-grid slds-m-bottom_xx-small slds-wrap slds-col slds-size_1-of-3">Name :&nbsp;{deliverymthd} </div>
            <div class="field-item slds-grid slds-m-bottom_xx-small slds-wrap slds-col slds-size_2-of-3">
                Pretax Total:&nbsp;<lightning-formatted-number
            currency-code={currency}
            format-style="currency"
            value={preTax}></lightning-formatted-number>
            </div>
            </div>
            <div if:false={isOrderEmpty}>
                <template for:each={orderProduct} for:item="orderProducts">
                    <c-order-summary-item key={orderProducts.Id} product={orderProducts.Product2Id} amt={orderProducts.TotalAmtWithTax} 
                    quantity={orderProducts.Quantity} effectiveaccountid={effectiveAccountId} ></c-order-summary-item>
                </template>
            </div>


      

        </lightning-accordion-section>
        </lightning-accordion>
 
</template>